body {
	margin: 0 auto; padding: 0 1rem; max-width: 40rem;
	line-height: 1.3; font-size: 110%; font-weight: 300;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	color: #333;
}



h1, h2 { font-weight: 300 }
h1 { margin: 2rem 0 1rem 0; font-size: 2rem; color: #777 }
h2 { margin: 1.5rem 0 1rem 0; font-size: 1.5rem; color: #555; }
h1:first-child, h2:first-child { margin-top: 1rem }

p { margin: 1rem 0 }
a { text-decoration: none; color: #2980b9 }
a:visited { color: #2980b9 }
a:hover { text-decoration: underline }
a:active { text-decoration: underline; color: #3498db }
a:focus { outline: none; text-decoration: underline }

.icon { display: inline-block; margin: 0 .1em; height: .9em }



input, button {
	display: block; margin: 1rem 0; padding: .3em;
	box-sizing: border-box; width: 100%;
	font-size: 100%; text-align: center;
}

input[type="text"], input[type="submit"], button { appearance: none }

input {
	background-color: transparent;
	border: .1em solid #777;
}
input:focus { outline: none; border-color: #e74c3c }

input[type="submit"], button {
	color: white;
	border: none; background-color: #e74c3c;
	cursor: pointer;
}
input[type="submit"]:active, button:active { background-color: #b0291b }
input[type="submit"]:focus, button:focus {
	color: inherit; outline: none;
	border: .1em solid #b0291b;
	background-color: transparent;
}



ul, ol {
	margin: 1rem 0; padding: 0;
	list-style-type: circle; list-style-position: inside;
}
ul { list-style-type: circle }



fieldset { margin: 1rem 0; padding: 0; border: none }

fieldset.completion > input { margin-top: 0; margin-bottom: 0 }

fieldset.completion > ul {
	margin: 0 .1em;
	border: .1em solid #999; border-top-width: 0;
	list-style: none; background-color: #f7f7f7;
}
fieldset.completion > ul:empty { border: none }

fieldset.completion > ul > li {
	cursor: pointer; padding: .3em;
}
fieldset.completion > ul > li:hover,
fieldset.completion > ul > li.sey-selected { background-color: #ddd }



table {
	margin: 1rem 0; border-spacing: 0; width: 100%;
	border: 1px solid #eee;
}

table thead, table tbody tr:nth-child(odd) { background-color: #f7f7f7 }
table td { border-bottom: 1px solid #eee }
table tr:last-child td { border-bottom: none }

table thead > tr > th { font-weight: 500; border-bottom: .1em solid #777 }

table th, table td { text-align: left; padding: .3em .4em }
table th:first-child, table td:first-child { padding-left: .6em }
table th:last-child, table td:last-child { padding-right: .6em }

table td a, table td a:visited { color: #333 }



.departures-when { white-space: nowrap }
.departures-delay { color: #e74c3c }
.departures-line { white-space: nowrap }



#footer { margin-top: 8rem; text-align: center }
#footer .love { font-size: 150%; color: #e74c3c }
